/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dropzone/dropzone
 *= require_self

 */

/* Andromeda by espoirthemes //

//    + feel free to edit this as much as you want! but don't remove credit
//	+ do not release as your own or use as a base

// star code credit: http://codepen.io/lbebber/pen/xbZKvQ
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:300,400,500');
@import "compass";

body{
    background:white;
    background-attachment: fixed;
    word-wrap: break-word;
    font-size: 16px;
    color: rgba(0,0,0,.8);
}


/******************/
/* Navigation Bar */
/******************/

/*** application.html.erb ***/
.navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
  font-family: 'Work Sans', sans-serif;
}

/* Classroom Dashboard */
.navbar-header {
    a {
    /* S.P.A.M. & Sections */
    color: black !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    display: inline-block;
    float: none;
    text-align: center;

    /* Centers name in navbar */
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

@media only screen
and (min-width : 320px)
and (max-width : 414px) {
	.navbar-header {
    a {
    /* S.P.A.M. & Sections */
    color: black !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: inline-block;
    float: none;
    text-align: center;

    /* Centers name in navbar */
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    }
  }
}

/* Add Course Section */
.navbar-nav a {
  /* Rest of header titles */
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

@media only screen
and (min-width : 320px)
and (max-width : 414px) {
  .navbar-nav a {
    /* Rest of header titles */
    color: black !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  }
}

/***************/
/* Header tags */
/***************/

h1 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: black;
  font-size: 700;
}

/* sections > edit.html.erb */
h1.edit_section_info {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: black;
  font-size: 700;
}

/* sections > index.html.erb */
h3.link_to_section {
  text-align: center;
  left: 70%;
  top: 40%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 300;
}

/* sections > new.html.erb */
h1.create_new_section {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 700;
}

/* student > new.html.erb */
h1.edit_student {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 700;
}

/* student > index.html.erb */
h1.students_header {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 700;
}

h1.sections_header {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 700;
}

h2.login_link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 700;
  color: black;
  text-align: center;
}

h2.signup_link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 700;
  color: black;
  text-align: center;
}

/* sections > flashbards.html.erb */
h2.random_student_link {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    position: fixed;
    top: 50%;
    left: 70%;
    margin-top: -50px;
    margin-left: -120px;
}

h5.add_new_section {
    text-align: center;
    color:black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/* students > new.html.erb */
h3.add_new_student {
    text-align: center;
    color:black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/* students > index.html.erb */
h5.back_to_course {
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-left: 25px
}


/***************/
/* Div classes */
/***************/

/* index.html.erb */
div.style_alien img {
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:100%;
  bottom: 10%;
  left: 0;
  right: 0;
  position: absolute;
}

/* devise > registrations > new.html.erb */
div.style_alien_signup img {
  max-width:55%;
  display: block;
  margin-left: auto;
  max-height:100%;
  bottom: 7%;
  right: 55%;
  position: absolute;
}

/* devise > sessions > new.html.erb */
div.style_alien_login img {
  max-width:80%;
  display: block;
  margin-right: auto;
  max-height:100%;
  bottom: 5%;
  right: 53%;
  position: absolute;
}

    @media only screen
    and (min-width : 320px)
    and (max-width : 375px) {
      div.style_alien_login img {
        max-width:20%;
        display: block;
        margin-right: auto;
        max-height:40%;
        bottom: 5%;
        right: 53%;
        position: absolute;
      }
    }

    @media only screen
    and (min-width : 375px)
    and (max-width : 500px) {
      div.style_alien_login img {
        max-width:30%;
        display: block;
        margin-right: auto;
        max-height:55%;
        bottom: 5%;
        right: 53%;
        position: absolute;
      }
    }

/* navbar */
div.style_alien_navbar img {
    max-width:3%;
    display: block;
    margin-right: auto;
}

/* alien that redirects user on error page */
div.style_alien_error img {
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:100%;
  bottom: 25%;
  left: 0;
  right: 0;
  position: absolute;
}

/* cilantro on top nav bar */
div.cilantro-navbar img{
  width: 75px;
  height: auto;
  top: 1%;
  left: 2%;
  position: absolute;

}

/* Homepage Alien speech bubble */
div.homepage_speechbubble img {
  width: 450px;
  height: auto;
  left: 4%;
}

/* SignUp page speech bubble */
div.choochoo_signup img {
  width: 375px;
  height: auto;
  left: 1%;
  bottom: 45;
  position: absolute;
}

/* Login page speech bubble */
div.seatbelt-login img{
  width: 350px;
  height: auto;
  bottom: 30%;
  right: 72%;
  position: absolute;
}

    @media only screen
    and (min-width : 320px)
    and (max-width : 375px) {
      div.seatbelt-login img{
        width: 100px;
        height: auto;
        bottom: 20%;
        right: 72%;
        position: absolute;
      }
    }

    @media only screen
    and (min-width : 375px)
    and (max-width : 500px) {
      div.seatbelt-login img{
        width: 175px;
        height: auto;
        bottom: 20%;
        right: 72%;
        position: absolute;
      }
    }

/* Cilantro Mascot on Homepage */
div.cilantro img{
  width: 50px;
  height: auto;
  top: 0%;
  left: 3%;
  position: absolute;
}

/* Error message (permissions) */
div.error {
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  max-width:70%;
  display: block;
  margin-left: auto;
  max-height:100%;
  bottom: 63.5%;
  left: 15%;
  position: absolute;
}

/* edit icon */
div.edit_icon {

}

/*********************/
/* Flashcard html page */
/*********************/

/* Alien in Flashcards page*/
div.style_alien_flashcards img{
  width: 100px;
  height: auto;
  bottom: 15%;
  left: 2%;
  position: absolute;
}

div.flashcard_responses img{
  width: 300px;
  height: auto;
  bottom: 28%;
  left: 7%;
  position: absolute;
}

div.form-inputs {
  color:black;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

div.student_info {
  text-align:center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: black;
  left: 70%;
}

div.style_alien_quiz img{
  width: 80px;
  height: auto;
  bottom: 28%;
  left: 22%;
  position: absolute;
}
div.quiz-instructions img{
  width: 300px;
  height: auto;
  bottom: 24;
  left: 2%;
  position: absolute;
}

/* Memory Game: Student Name */
#name{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

/* Flashcards: Student Up Next */


h4 {
  font-size: 30px;
  top: 375px;
  right: 185px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  position: absolute
}


#up-now {
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  left: 50%;
  right: 50%;
}


/*********************/
/* Paragraph classes */
/*********************/

/* sections > show.html.erb */
p.student_list_link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

/* sections > show.html.erb */
p.flashcards_link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

/* sections > show.html.erb */
p.edit_section_link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

/* sections > show.html.erb */
p.delete_section_link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

/* students > index.html.erb */
p.add_student {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}



/******************/
/* Homepage links */
/******************/

// changed to black for dropzone removelink, temporary solution to focus on functionality for now
a, a:active, a:visited {
    color: black;
    text-decoration: none !important;
}

a:hover{
    color: purple !important;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}


/*******************************/
/* Flashcard/memory game links */
/*******************************/

a.flashcard_button {
  margin: 0 auto;
  background-color: purple;
  color: white !important;
  padding: 8px 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  }

a.flashcard_button:hover {
	background-color: white;
	color: purple !important;
}

a.memory_game_button {
  margin: 0 auto;
  background-color: purple;
  color: white !important;
  padding: 8px 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  }

a.memory_game_button:hover {
	background-color: white;
	color: purple !important;
}

/******************/
/* Table links */
/******************/

table {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
    font-size: 125%;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color: white;
}

// flashcards page

#up-next {
  text-align: center;
}


#next-button {
  text-align: center;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
