/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Andromeda by espoirthemes //

//    + feel free to edit this as much as you want! but don't remove credit
//	+ do not release as your own or use as a base

// star code credit: http://codepen.io/lbebber/pen/xbZKvQ
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:300');


body{
    background:radial-gradient(220% 105% at top center, rgb(155, 84, 202) 10%
    ,rgb(169, 122, 226)
    40%,rgba(218, 145, 218, 0.822),rgb(162, 104, 179));
    background-attachment: fixed;
    word-wrap: break-word;
    font-size: 16px;
    color: rgba(0,0,0,.8);
}


/******************/
/* Navigation Bar */
/******************/

/*** application.html.erb ***/

.navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

/* Classroom Dashboard */
.navbar-header {
    a {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: inline-block;
    float: none;
  }
}

/* Add Course Section */
.navbar-nav a {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}


/***************/
/* Header tags */
/***************/

h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 700;
}

/* sections > edit.html.erb */
h1.edit_section_info {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 700;
}

/* sections > index.html.erb */
h1.link_to_section {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 700;
}

/* sections > new.html.erb */
h1.create_new_section {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 700;
}

/* student > new.html.erb */
h1.edit_student {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 700;
}

/* student > index.html.erb */
h1.students_header {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 700;
}

/* sections > flashbards.html.erb */
h2.random_student_link {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    position: fixed;
    top: 50%;
    left: 70%;
    margin-top: -50px;
    margin-left: -120px;
}

/* students > new.html.erb */
h3.add_new_student {
    text-align: center;
    color:white;
    font-family: 'Work Sans', sans-serif;
}

/* students > index.html.erb */
h5.back_to_course {
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    margin-left: 25px
}


/***************/
/* Div classes */
/***************/

/* index.html.erb */
div.style_alien img {
    max-width:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */
div.style_alien_navbar img {
    max-width:3%;
    display: block;
    margin-right: auto;
}

/***************/
/* Paragraph classes */
/***************/

/* sections > show.html.erb */
p.student_list_link {
  font-family: 'Work Sans', sans-serif;
}

/* sections > show.html.erb */
p.flashcards_link {
  font-family: 'Work Sans', sans-serif;
}

/* sections > show.html.erb */
p.edit_section_link {
  font-family: 'Work Sans', sans-serif;
}

/* sections > show.html.erb */
p.delete_section_link {
  font-family: 'Work Sans', sans-serif;
}

/* students > index.html.erb */
p.add_student {
  font-family: 'Work Sans', sans-serif;
}

/******************/
/* Homepage links */
/******************/

a, a:hover, a:active, a:visited {
    color: white;
}

p {
  font-family: 'Work Sans', sans-serif;
}
