<!-- loaded in calls to render @student for randomization and student list-->

<div class="col-md-3">
    <%= image_tag student.student_img.url(:student_index) %>
    <%= link_to student.firstName, section_student_path(student.section_id, student) %>
</div>
