<!-- student list page at section/:section_id/students -->
<h1>Students</h1>

  <div style="text-align:center">
    <p><%= link_to "Add Student", new_section_student_path(@section)%></p>
  </div>

<br>
<br>
<br>
<br>
<!-- fix this to better form lol  -->

<%= render @section.students.all.order("lastname ASC") %>
