
<div class="col-md-6 col-md-offset-3">

  <div class="new-section-form">

    <!-- see _form.html.erb -->
    <h3 class = add_new_student>Add a New Student</h3>

    <%= render 'form' %>
    <h5><%= link_to "Cancel", section_students_path(@section)%></h5>

  </div>

</div>
