<%= image_tag @student.student_img.url(:student_index) %>
<h2> <%= @student.firstName %> </h2>

<!-- reloads this page to load new random student -->
<!-- <a href="<%= @section.id %>/randomize">Random Student!</a> -->
