<!-- HOMEPAGE -->

<!-- List each section and a link to that section's info and it's student list -->

<div class="style_alien">
<%= image_tag("alien.png", :alt => "rss feed") %>
</div>

<% @section.each do |section| %>
	<h1><%= link_to section.course + " " + section.semester, section_path(section) %></h1>
<% end %>
