<!-- HOMEPAGE -->

<!-- List each section and a link to that section's info and it's student list -->
<% @section.each do |section| %>
	<h1><%= link_to section.course + " " + section.semester + " " + section.year.to_s, section_path(section) %></h1>
<% end %>

<!-- Button to add a new Section -->
<%= link_to "New Course Section", new_section_path %>
