

<!-- To create a new Section, display form to enter Section fields -->
<div class="col-md-6 col-md-offset-3">

  <div class="new-section-form">

    <h1>New Section</h1>

    <%= render 'form' %>
  </div>
  
</div>
