

<!-- To create a new Section, display form to enter Section fields -->
<div class="col-md-6 col-md-offset-3">

  <div class="new-section-form">

    <h1 class = create_new_section>New Section</h1>

    <%= render 'form' %>
    <h5><%= link_to "Cancel", root_path %></h5>

  </div>

</div>
